In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as mpl
import seaborn as sns

In [50]:
#Import the data with first 3 rows as headers
#df = pd.read_csv('../Data/allele_counts.tsv', header = [0,1,2], index_col = [0], sep='\t')
df = pd.read_csv('../Data/allele_counts.tsv', header = None, index_col = None, sep='\t')
df

,0,1,2,3,4,5,6,7,8,9,...,211,212,213,214,215,216,217,218,219,220
0,NaN,AS-209,AS-209,AS-209,AS-209,AS-209,AS-209,AS-209,AS-209,AS-196,...,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207
1,NaN,EL_SRSF2,EL_SRSF2,EL_TET2a,EL_TET2a,EL_TET2b,EL_TET2b,EL_TGFB3_g,EL_TGFB3_g,RN_RUNX1_c,...,EL_SRSF2,EL_SRSF2,EL_TET2a,EL_TET2a,EL_TET2b,EL_TET2b,EL_TGFB3_c,EL_TGFB3_c,EL_TGFB3_g,EL_TGFB3_g
2,NaN,MT,WT,MT,WT,MT,WT,MT,WT,MT,...,MT,WT,MT,WT,MT,WT,MT,WT,MT,WT
3,A1,0,0,0,0,0,0,0,0,0,...,0,1,0,7,0,1,0,0,0,0
4,A2,0,0,2,1,0,0,0,0,0,...,1,2,4,4,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,P20,1,3,0,0,0,0,0,4,20,...,39,22,45,91,57,58,0,1,0,2
383,P21,0,4,0,1,0,0,0,2,0,...,10,16,47,59,32,8,0,0,0,2
384,P22,0,1,13,50,0,0,0,330,0,...,17,31,59,246,27,18,0,0,0,2
385,P23,1,248,0,24,0,1,0,6,1,...,5,16,802,240,3,1,0,0,1,1
386,P24,0,4,0,55,0,0,0,581,0,...,1,5,17,574,2,5,0,0,0,0

In [51]:
df.iloc[0,0] = 'Plate'
df.iloc[1,0] = 'Amplicon'
df.iloc[2,0] = 'Genotype'
df

,0,1,2,3,4,5,6,7,8,9,...,211,212,213,214,215,216,217,218,219,220
0,Plate,AS-209,AS-209,AS-209,AS-209,AS-209,AS-209,AS-209,AS-209,AS-196,...,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207,AS-207
1,Amplicon,EL_SRSF2,EL_SRSF2,EL_TET2a,EL_TET2a,EL_TET2b,EL_TET2b,EL_TGFB3_g,EL_TGFB3_g,RN_RUNX1_c,...,EL_SRSF2,EL_SRSF2,EL_TET2a,EL_TET2a,EL_TET2b,EL_TET2b,EL_TGFB3_c,EL_TGFB3_c,EL_TGFB3_g,EL_TGFB3_g
2,Genotype,MT,WT,MT,WT,MT,WT,MT,WT,MT,...,MT,WT,MT,WT,MT,WT,MT,WT,MT,WT
3,A1,0,0,0,0,0,0,0,0,0,...,0,1,0,7,0,1,0,0,0,0
4,A2,0,0,2,1,0,0,0,0,0,...,1,2,4,4,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,P20,1,3,0,0,0,0,0,4,20,...,39,22,45,91,57,58,0,1,0,2
383,P21,0,4,0,1,0,0,0,2,0,...,10,16,47,59,32,8,0,0,0,2
384,P22,0,1,13,50,0,0,0,330,0,...,17,31,59,246,27,18,0,0,0,2
385,P23,1,248,0,24,0,1,0,6,1,...,5,16,802,240,3,1,0,0,1,1
386,P24,0,4,0,55,0,0,0,581,0,...,1,5,17,574,2,5,0,0,0,0

In [52]:
#Maybe it would be easier to import data for each patient in separate dataframes? Or to split the big dataframe?
df2 = df.T
df2

,0,1,2,3,4,5,6,7,8,9,...,377,378,379,380,381,382,383,384,385,386
0,Plate,Amplicon,Genotype,A1,A2,A3,A4,A5,A6,A7,...,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24
1,AS-209,EL_SRSF2,MT,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,AS-209,EL_SRSF2,WT,0,0,3,0,0,0,0,...,0,1,1,3,0,3,4,1,248,4
3,AS-209,EL_TET2a,MT,0,2,0,0,0,0,0,...,0,1,0,0,0,0,0,13,0,0
4,AS-209,EL_TET2a,WT,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,50,24,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,AS-207,EL_TET2b,WT,1,3,9,4,5,1,1,...,2,27,8,5,20,58,8,18,1,5
217,AS-207,EL_TGFB3_c,MT,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
218,AS-207,EL_TGFB3_c,WT,0,0,0,0,0,0,0,...,0,3,0,0,0,1,0,0,0,0
219,AS-207,EL_TGFB3_g,MT,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,1,0
220,AS-207,EL_TGFB3_g,WT,0,1,0,0,0,0,0,...,0,2,0,0,1,2,2,2,1,0

In [53]:
new_header = df2.iloc[0] #grab the first row for the header
df2 = df2[1:] #take the data less the header row
df2.columns = new_header #set the header row as the df header
df2

,Plate,Amplicon,Genotype,A1,A2,A3,A4,A5,A6,A7,...,P15,P16,P17,P18,P19,P20,P21,P22,P23,P24
1,AS-209,EL_SRSF2,MT,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,AS-209,EL_SRSF2,WT,0,0,3,0,0,0,0,...,0,1,1,3,0,3,4,1,248,4
3,AS-209,EL_TET2a,MT,0,2,0,0,0,0,0,...,0,1,0,0,0,0,0,13,0,0
4,AS-209,EL_TET2a,WT,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,50,24,55
5,AS-209,EL_TET2b,MT,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,AS-207,EL_TET2b,WT,1,3,9,4,5,1,1,...,2,27,8,5,20,58,8,18,1,5
217,AS-207,EL_TGFB3_c,MT,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
218,AS-207,EL_TGFB3_c,WT,0,0,0,0,0,0,0,...,0,3,0,0,0,1,0,0,0,0
219,AS-207,EL_TGFB3_g,MT,0,0,0,0,0,0,0,...,0,10,0,0,0,0,0,0,1,0
220,AS-207,EL_TGFB3_g,WT,0,1,0,0,0,0,0,...,0,2,0,0,1,2,2,2,1,0

In [71]:
#Trying to iterate over rows to split dataframe (nope, that's really inefficient)
#How about adding a new column with the patient name? Could split mutation column, but would need to rename forst 3 columns first.
#Can I add in the information about each plate (ie/ patient and cell type?)
key = pd.read_excel('../Data/Amplicon_metadata_fixed.xlsx', sheet_name = 'PlateID')
key2 = key.drop(['Cell Origin', 'Plate Nr', 'Plate Name','Nr of cells', 'fcs-fle' ], axis=1)
key2.rename(columns = {'Comments2':'Plate'}, inplace = True)
key2

   Patient      Cell-group   Plate
0       EL             NEs  AS-203
1       EL             NEs  AS-204
2       EL       Monocytes  AS-202
3       EL       Monocytes  AS-205
4       EL            nBCs  AS-206
5       EL            nBCs  AS-209
6       EL           CD34+  AS-207
7       EL           CD34+  AS-208
8       EL       CD34+/38-  AS-210
9       GR             NEs  AS-215
10      GR             NEs  AS-216
11      GR       Monocytes  AS-217
12      GR       Monocytes  AS-214
13      GR            nBCs  AS-219
14      GR            nBCs  AS-222
15      GR            CD34  AS-218
16      GR  CD34+halfCD38-  AS-223
17      GR  CD34+halfCD38-  AS-221
18      RN             NEs  AS-189
19      RN             NEs  AS-195
20      RN       Monocytes  AS-187
21      RN       Monocytes  AS-193
22      RN            nBCs  AS-194
23      RN            nBCs  AS-196
24      RN            CD34  AS-197
25      RN            CD34  AS-198
26      RN       CD34+/38-  AS-201

In [102]:
#Can I just merge these two dfs? Aparently yes.
merged = pd.merge(df2, key2, how = 'outer', on =['Plate'])
merged

,Plate,Amplicon,Genotype,A1,A2,A3,A4,A5,A6,A7,...,P17,P18,P19,P20,P21,P22,P23,P24,Patient,Cell-group
0,AS-209,EL_SRSF2,MT,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,EL,nBCs
1,AS-209,EL_SRSF2,WT,0,0,3,0,0,0,0,...,1,3,0,3,4,1,248,4,EL,nBCs
2,AS-209,EL_TET2a,MT,0,2,0,0,0,0,0,...,0,0,0,0,0,13,0,0,EL,nBCs
3,AS-209,EL_TET2a,WT,0,1,0,0,0,0,0,...,0,0,0,0,1,50,24,55,EL,nBCs
4,AS-209,EL_TET2b,MT,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,EL,nBCs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,AS-207,EL_TET2b,WT,1,3,9,4,5,1,1,...,8,5,20,58,8,18,1,5,EL,CD34+
216,AS-207,EL_TGFB3_c,MT,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,EL,CD34+
217,AS-207,EL_TGFB3_c,WT,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,EL,CD34+
218,AS-207,EL_TGFB3_g,MT,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,EL,CD34+
219,AS-207,EL_TGFB3_g,WT,0,1,0,0,0,0,0,...,0,0,1,2,2,2,1,0,EL,CD34+

In [80]:
#Set up some lists for iteration
patients = ['EL', 'GR', 'EL']
plates = key2['Plate'].tolist()
amplicons = merged['Amplicon'].drop_duplicates().to_list()

In [103]:
merged2 = merged.set_index('Plate', 'Amplicon', 'Genotype')
merged2

,,Amplicon,Genotype,A1,A2,A3,A4,A5,A6,A7,A8,...,P17,P18,P19,P20,P21,P22,P23,P24,Patient,Cell-group
,Plate,,,,,,,,,,,,,,,,,,,,,
0,AS-209,EL_SRSF2,MT,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,EL,nBCs
1,AS-209,EL_SRSF2,WT,0,0,3,0,0,0,0,0,...,1,3,0,3,4,1,248,4,EL,nBCs
2,AS-209,EL_TET2a,MT,0,2,0,0,0,0,0,0,...,0,0,0,0,0,13,0,0,EL,nBCs
3,AS-209,EL_TET2a,WT,0,1,0,0,0,0,0,0,...,0,0,0,0,1,50,24,55,EL,nBCs
4,AS-209,EL_TET2b,MT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,EL,nBCs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,AS-207,EL_TET2b,WT,1,3,9,4,5,1,1,10,...,8,5,20,58,8,18,1,5,EL,CD34+
216,AS-207,EL_TGFB3_c,MT,0,0,0,0,0,0,5,0,...,0,0,0,0,0,0,0,0,EL,CD34+
217,AS-207,EL_TGFB3_c,WT,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,EL,CD34+
218,AS-207,EL_TGFB3_g,MT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,EL,CD34+
219,AS-207,EL_TGFB3_g,WT,0,1,0,0,0,0,0,0,...,0,0,1,2,2,2,1,0,EL,CD34+

In [98]:
#How many reads per well (per plate)?
for plate in plates:
    df = merged2.loc[merged2['Plate'].isin([plate])]
    print(df)

KeyError: 'Plate'